*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

html {
  font-family: Roboto, Helvetica, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
}

body,
h1,
h2,
h3,
h4,
input,
button,
textarea,
select {
  font-family: inherit;
  border: 0;
  margin: 0;
  padding: 0;
}
