:host {
  display: block;
  min-height: 100%;
  background-color: #f6f5ee;
}

.main {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 3vmin 0;
}

app-search,
app-fab {
  position: fixed;
  top: 3rem;
  right: 3%;
  z-index: 10;
}

app-fab {
  top: auto;
  bottom: 3rem;
}
